*{
    margin: 0;
    padding:0;
}
h1{
    color: var(--color-blanc);
}
.calculator{
    position: absolute;
    background-color: var(--color-dark-violet);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    box-shadow: 10px 20px 8px 5px var(--color-violet);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.value{
    background-color: var(--color-blanc);
    text-align: right;
    padding: 15px;
    font-size: 2.5rem;
    grid-column: span 4;
    height: 100px;
    padding: 10px;
}
.button{
    display: grid;
    grid-template-columns: repeat(4, auto);
}
.button button{
    padding: 15px;
    color: var(--color-purple);
    transition: 0.2s all linear;
}

button:hover{
    background-color: var(--color-dark-violet);
}
.numbers{
    background-color: var(--color-violet);
}
.operators{
    background-color: var(--color-blanc);
}
