main{
    position: absolute;
    height: 800px;
    width: 400px;
    background-color: rgb(135, 135, 197);
    left: 50%;
    transform: translateX(-50%);
}
.button{
    height: 40px;
    width: 50px;
}
.numbers{
    color: rgb(28, 28, 46);
    background-color: rgb(86, 86, 128);
}

.operators{
    color: rgb(30, 95, 156);
    background-color: rgb(224, 249, 250);
}