*{
    margin: 0;
    padding:0;
}
main{
    position: absolute;
    height: 700px;
    width: 350px;
    background-color: var(--color-dark-violet);
    left: 50%;
    transform: translateX(-50%);
    padding: 5% 2%;
}
.value{
    background-color: var(--color-blanc);
    height: 15px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
}
.button{
    height: 80px;
    width: 80px;
    margin: 1px;
    color: var(--color-purple);
}
.numbers{
    background-color: var(--color-violet);
}
.operators{
    background-color: var(--color-blanc);
}
